@font-face {
  font-family: Yeseva One;
  src: url(/assets/fonts/Yeseva_One/YesevaOne-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Proxima Nova;
  src: url(/assets/fonts/proxima_ssv/proxima_ssv/ProximaNova-Regular.otf)
    format("opentype");
}
@font-face {
  font-family: FuturaBookC;
  src: url(/assets/fonts/futurabookc.otf) format("opentype");
}
@font-face {
  font-family: FuturaDemiC;
  src: url(/assets/fonts/futurademic.otf) format("opentype");
}
@font-face {
  font-family: FuturaMediumC;
  src: url(/assets/fonts/futuramediumc.otf) format("opentype");
}

@media (max-width: 500px) {
  nav,
  .preview__instagram,
  .preview__scroll,
  .procedure,
  .steps,
  .clients,
  .question,
  footer {
    display: none;
  }
}

body {
  background: #131313;
}

.wrapper {
  max-width: 1440px;
  min-width: 500px;
  margin: 0 auto;
  overflow: hidden;
}
.black-bg {
  background: url(/assets/main-bg.png), url(/assets/main-bg-houses1.png),
    url(/assets/main-bg-houses2.png);
  background-color: rgba(19, 19, 19, 1);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: cover, 50%, 50%;
  background-position: 4px 25px, left bottom, right bottom;
  padding-bottom: 345px;
}
.white-bg {
  background: url(/assets/main-bg-white.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
  padding-bottom: 300px;
}

.header {
  background-color: rgba(19, 19, 19, 1);
  display: flex;
  align-items: center;
  height: 83px;

  &__logo {
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    color: #e3b873;
    padding-left: 95.47px;
    padding-right: 82px;
  }

  &__menu {
    display: flex;

    list-style: none;

    &-item a {
      font-family: FuturaBookC;
      font-size: 14px;
      line-height: 16px;

      color: #ffffff;
      padding-left: 47px;
      text-decoration: none;
    }

    &-item:first-child a {
      color: #e3b873;
      padding-left: 0;
    }
  }

  &__contact {
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    text-decoration-line: underline;

    color: #e3b873;
    white-space: nowrap;
    padding-left: 67px;
    padding-right: 45px;
  }

  &__call {
    border: none;
    background: #e3b873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    padding: 13px 33px;
  }
}

.instagram {
  background: #131313;
  width: 82px;

  text-align: center;
  padding-top: 201px;

  &__container {
    display: flex;
    transform: rotate(90deg);
    position: relative;
  }

  &__link {
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #e3b873;
    text-transform: uppercase;
  }

  &__line {
    border: 1px solid #e3b873;
    width: 51px;
    position: absolute;
    left: 100px;
    top: 6px;
  }
}

.preview {
  background-color: rgba(19, 19, 19, 1);
  display: flex;
  position: relative;

  &__image-block {
    background: url(/assets/preview_bg.png) no-repeat;
    height: 707px;
    flex: 1;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 1;
    }
  }

  &__text-container {
    max-width: 500px;
    padding-top: 160px;
    padding-left: 50px;
    position: relative;
    z-index: 2;
  }

  &__title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;

    color: #ffffff;
  }
  &__title_colored {
    color: #e3b873;
  }

  &__text {
    padding-top: 19px;
    max-width: 440px;
    font-family: FuturaBookC;
    font-size: 22px;
    line-height: 30px;

    color: #ffffff;
  }

  &__scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    transform: translate(0, 50%);
    padding: 35px 50px;
    background: #131313;
    font-family: Yeseva One;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    align-items: center;

    img {
      margin-left: 10px;
    }
  }
}

.preview-btns {
  display: flex;
  margin-top: 41px;
  padding-right: 40px;

  &__item {
    border: none;
    border-radius: 2px;
    color: #ffffff;
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 15px;
    height: 51px;
    flex: 1;

    &_calculate {
      background: #e3b873;
      box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    }

    &_submit {
      margin-left: 20px;
      background: none;
      border: 1px solid #ffffff;
    }
  }
}

.slider {
  margin-top: 107px;
  display: flex;
  overflow: hidden;
  position: relative;

  &-description {
    margin-right: 50px;
    min-width: 440px;
    padding-top: 45px;

    &__title {
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 27px;
      line-height: 37px;
      letter-spacing: -0.07em;
      text-transform: uppercase;
      color: #e3b873;
      margin-right: 100px;
    }

    &__text {
      font-family: FuturaBookC;
      font-size: 18px;
      line-height: 29px;
      color: #ffffff;
    }

    &__table {
      margin-top: 42px;

      td {
        padding-top: 55px;
        padding-right: 30px;
      }
    }

    .criterion {
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;
      color: #e3b873;

      &__description {
        font-family: FuturaBookC;
        font-size: 15px;
        line-height: 20px;
        padding-top: 9px;
        color: #ffffff;
      }
    }
  }
  &__switcher {
    display: flex;
    align-items: center;
    margin-top: 90px;
    &-item {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 30px;
      width: 10px;
      height: 10px;
      margin: 2px 10px;
      &_selected {
        background: #ffffff;
      }
    }
    &-arrow {
      background: url(/assets/arrow-long.svg) no-repeat;
      background-size: contain;
      background-position: center;
      width: 40px;
      height: 15px;
      margin-left: 30px;
      &_prev {
        transform: rotate(180deg);
        margin-right: 30px;
        margin-left: 0;
      }
    }
  }
  &-navbar {
    display: flex;
    height: 45px;

    &__item a {
      padding-left: 60px;
      text-decoration: none;
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;

      color: rgba(255, 255, 255, 0.3);
    }

    &__item_selected a {
      padding-left: 0;
      color: #e3b873;
      text-decoration: underline;
    }
  }

  &__images {
    display: flex;

    img {
      margin-right: 20px;
    }
  }

  &__next-image {
    position: absolute;
    width: 55px;
    height: 55px;
    background: #e3b873 url(/assets/arrow-next.svg) no-repeat;
    background-position: center;
    box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
    border-radius: 50%;
    border: none;
    right: 3px;
    top: 50%;
    margin-top: 27.5px - 45px;
  }
}
.subtitle {
  &_topped {
    position: relative;
    top: -240px;
    margin-bottom: -140px;
  }

  &_increased {
    padding-bottom: 145px;
  }

  &__name {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;

    &_black {
      color: #181818;
    }
  }
  &__icon {
    padding-top: 15px;
    text-align: center;
  }
  &__video {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    margin-top: 30px;
  }
  &__line {
    background: #e3b873;
    width: 55px;
    height: 1px;
    margin: 0 auto;
    margin-top: 62px;
  }
  &__text {
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    padding: 0 450px;

    color: #363636;
    padding-bottom: 39px;

    &_white {
      line-height: 27px;
      color: #ffffff;
    }
  }
}
.form {
  margin-bottom: 150px;
  &__description {
    margin: 0 auto;
    &-inputs {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: FuturaBookC;
      font-size: 18px;
      line-height: 24px;
      color: #363636;

      label {
        display: block;
        font-family: FuturaBookC;
        font-size: 15px;
        line-height: 20px;

        color: rgba(54, 54, 54, 0.5);
      }

      input {
        border: none;
        border-bottom: 1px solid rgba(54, 54, 54, 0.3);
        &::placeholder {
          font-family: FuturaBookC;
          font-size: 18px;
          line-height: 24px;

          color: #363636;
        }
      }

      button {
        font-family: FuturaDemiC;
        font-size: 15px;
        line-height: 26px;

        text-align: center;
        text-transform: uppercase;

        color: #ffffff;
        background: #e3b873;
        box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
        border-radius: 2px;
        border: none;
        padding: 20px 70px;
      }
    }
    &-item {
      margin: 0 25px;
    }
  }
  &__description-agree {
    padding-top: 35px;
    text-align: center;
    label {
      font-family: FuturaBookC;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #181818;
    }
  }
  &__checkbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #e3b873 url(/assets/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1px;
  }
}
.cols {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  &_topped {
    margin-top: -278px;
  }

  &_over {
    position: relative;
    top: -245px;
    margin-bottom: -215px;
  }

  &__item {
    margin: 0 30px;
  }

  &__list-block {
    padding: 25px 31px 45px;
    background: #ffffff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    position: relative;
    margin: -125px 30px 0;

    button {
      position: absolute;
      left: 0;
      bottom: -27px;
      width: 228px;
      height: 54px;
      border: none;
      background: #e3b873;
      box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;

      color: #ffffff;
    }

    &_team {
      margin: -77px 20px 0;

      button {
        width: auto;
      }
    }
  }
  &__title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    color: #363636;
  }
  &__list {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 25px;

    color: #959595;

    li {
      position: relative;
      padding-left: 10px;
    }

    li:before {
      content: "";
      width: 4px;
      height: 4px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -2px;
      background-color: #959595;
      border-radius: 50%;
    }
  }

  &__icon {
    background-color: #e3b873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, 50%);
  }
}
.procedure {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  margin-top: 180px;
  margin-bottom: 100px;

  .circle {
    height: 600px;
    width: 600px;
    background-image: url(/assets/circle-house.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;

    &__border {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid #e3b873;
      border-radius: 50%;
      left: -200px;
    }

    &__stage {
      position: absolute;
      display: flex;
      align-items: center;

      &-num {
        min-width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #e3b873;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);

        font-family: Yeseva One;
        font-size: 18px;
        line-height: 40px;
        text-align: center;

        color: #ffffff;
        margin-right: 10px;
      }

      &_first {
        left: 303px;
        top: 71px;
      }
      &_second {
        left: 367px;
        top: 194px;
      }
      &_third {
        left: 376px;
        top: 344px;
      }
      &_fourth {
        left: 318px;
        top: 467px;
      }
    }
  }

  .request-form {
    background: url(/assets/question-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #131313;
    width: 510px;
    margin-right: 100px;

    &__item {
      margin-bottom: 48px;
    }

    &__title {
      padding: 28px 105px 0;
      font-family: FuturaDemiC;
      font-size: 20px;
      line-height: 25px;
      text-align: center;

      color: #ffffff;
    }
    &__inputs {
      padding: 39px 50px 0;
    }

    &__call {
      text-align: right;
    }

    input {
      width: 100%;
      background: transparent;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      &::placeholder {
        font-family: FuturaMediumC;
        font-size: 18px;
        line-height: 25px;
        color: #ffffff;
      }
    }

    label {
      display: block;
      font-family: FuturaBookC;
      font-size: 15px;
      line-height: 20px;

      color: rgba(255, 255, 255, 0.5);
    }
    .form__checkbox {
      display: inline-block;
      width: 18px;
      height: 18px;
      background: #e3b873 url(/assets/check.svg);
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 1px;
    }
  }

  button {
    border: none;
    padding: 19px 22px;

    background: #e3b873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    margin-bottom: 27px;
  }
}
.gallery {
  background: url(/assets/gallery_bg.png);

  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin-bottom: 115px;

  position: relative;
  z-index: 0;
  &__description {
    padding: 137px 77px 0 99px;
    flex: 1;
  }
  &__title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #e3b873;
  }
  &__list li {
    padding-top: 20px;
    font-family: Proxima Nova;
    font-size: 20px;
    line-height: 34px;

    color: #ffffff;
    &:first-child {
      padding-top: 47px;
      color: #e3b873;
      text-decoration: underline;
    }
  }
  &__images-col {
    width: 350px;
  }
  &__images-col_1 {
    margin: -40px 50px -80px 0;
    img {
      margin-bottom: 40px;
    }
  }
  &__images-col_2 {
    margin-top: -113px;
    margin-right: 100px;
    img {
      margin-bottom: 36px;
    }
  }
  &:before {
    background: linear-gradient(
      120.96deg,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0.9) 100%
    );
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

.steps {
  display: flex;
  margin: 80px 0;

  h3 {
    font-family: FuturaDemiC;
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;

    color: #ffffff;
  }

  &__main-title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;

    color: #e3b873;

    margin: 20px 0 90px;
  }
  &__chapter {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;

    color: #ffffff;
  }

  &__title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;

    color: #e3b873;

    margin: 20px 0 15px;
  }
  &__description {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 25px;

    color: #ffffff;
  }

  &__switcher {
    display: flex;
    align-items: center;
    margin-top: 90px;
    &-item {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 30px;
      width: 10px;
      height: 10px;
      margin: 2px 10px;
      &_selected {
        background: #ffffff;
      }
    }
    &-arrow {
      background: url(/assets/arrow-long.svg) no-repeat;
      background-size: contain;
      background-position: center;
      width: 40px;
      height: 15px;
      margin-left: 30px;
      &_prev {
        transform: rotate(180deg);
        margin-right: 30px;
        margin-left: 0;
      }
    }
  }

  &__list-wrapper {
    margin-left: 100px;
  }

  &-list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px 80px;

    &__item {
      font-family: FuturaBookC;
      font-size: 15px;
      line-height: 18px;

      color: #ffffff;
      opacity: 0.3;

      &_selected {
        opacity: 1;
      }
    }

    &__number {
      display: inline-block;
      border-bottom: 1px solid #e3b873;
      margin-bottom: 10px;
    }
  }

  &__image {
    margin-top: 50px;
  }
}
.clients {
  .cols__item {
    background: #ffffff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  }
  &__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 79px;
  }
  &__photo {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    padding: 24px 23px 22px 20px;
  }
  &__name {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    color: #181818;
  }
  &__review {
    padding-left: 20px;
    padding-right: 30px;
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 180%;
    /* or 27px */

    color: #959595;
  }
  &__values {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 82px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;

    color: #ffffff;
    margin-top: 60px;
    img {
      margin: 15px;
    }
  }
  &__value-square {
    display: flex;
    align-items: center;
    background: #e3b873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    border-right: 1px solid #ffffff;
    flex: 1;
  }
  &__value-time {
    display: flex;
    align-items: center;
    background: #e3b873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    flex: 1;
  }
}

.bottom-bg {
  background: url(/assets/bottom-bg.png) #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 65px;
}

.question {
  background: url(/assets/question-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #181818;
  margin: 0 250px;
  padding: 35px 150px;
  text-align: center;
  position: relative;
  top: -100px;
  margin-bottom: -100px;

  &__title {
    font-family: Yeseva One;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    text-align: left;
    flex: 1;
    margin: 50px 30px 0;

    &_checkbox {
      text-align: center;
      margin-bottom: 50px;
    }
  }

  input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    &::placeholder {
      font-family: FuturaMediumC;
      font-size: 18px;
      line-height: 25px;
      color: #ffffff;
    }
  }

  label {
    display: block;
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 20px;

    color: rgba(255, 255, 255, 0.5);
  }
  .form__checkbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #e3b873 url(/assets/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1px;
  }

  button {
    border: none;
    padding: 20px 50px;

    background: #e3b873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
  }
}

.social {
  margin: 50px 420px;

  &__phone {
    font-family: Yeseva One;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

    color: #e3b873;
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  &__icon {
    background-color: #e3b873;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin: 0 7px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.map {
  width: 60%;
  padding-top: 30%;
  background: url(/assets/map.png);
  background-size: cover;
  margin: 0 auto;
}

.footer {
  height: 130px;
}
