@font-face {
  font-family: Yeseva One;
  src: url(/assets/fonts/Yeseva_One/YesevaOne-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Proxima Nova;
  src: url(/assets/fonts/proxima_ssv/proxima_ssv/ProximaNova-Regular.otf)
    format("opentype");
}
@font-face {
  font-family: FuturaBookC;
  src: url(/assets/fonts/futurabookc.otf) format("opentype");
}
@font-face {
  font-family: FuturaDemiC;
  src: url(/assets/fonts/futurademic.otf) format("opentype");
}
@font-face {
  font-family: FuturaMediumC;
  src: url(/assets/fonts/futuramediumc.otf) format("opentype");
}

body {
  background: #131313;
}

button {
  cursor: pointer;
}

.wrapper {
  max-width: 1440px;
  min-width: 500px;
  margin: 0 auto;
  overflow: hidden;
}
.black-bg {
  background: url(/assets/images/main-bg.png),
    url(/assets/images/main-bg-houses1.png),
    url(/assets/images/main-bg-houses2.png);
  background-color: rgba(19, 19, 19, 1);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: cover, 50%, 50%;
  background-position: 4px 25px, left bottom, right bottom;
  padding-bottom: 345px;

  @media (max-width: 700px) {
    & {
      background: rgba(19, 19, 19, 1);
    }
  }
}
.white-bg {
  background: url(/assets/images/main-bg-white.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
  padding-bottom: 440px;

  &_bottom {
    padding-bottom: 200px;
  }

  @media (max-width: 900px) {
    & {
      padding-bottom: 360px;
    }
    &_bottom {
      padding-bottom: 200px;
    }
  }

  @media (max-width: 700px) {
    & {
      background: rgba(19, 19, 19, 1);
    }
  }
}

.white-bg-mobile {
  background: transparent;

  @media (max-width: 700px) {
    & {
      background-color: #fff;
      padding-top: 80px;
      padding-bottom: 305px;
      position: relative;
    }
  }
}

.header {
  background-color: rgba(19, 19, 19, 1);
  display: flex;
  align-items: center;
  height: 83px;

  &__logo {
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    color: #e3b873;
    width: 25%;
    text-align: center;
  }

  nav {
    width: 45%;
  }

  &__menu {
    display: flex;
    justify-content: space-between;

    list-style: none;

    &-item a {
      font-family: FuturaBookC;
      font-size: 14px;
      line-height: 16px;

      color: #ffffff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &-item:first-child a {
      color: #e3b873;
    }
  }

  &__contact {
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    text-decoration-line: underline;

    color: #e3b873;
    white-space: nowrap;
    width: 16%;
    text-align: center;
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }

  &__call {
    border: none;
    background: #e3b873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    width: 11%;
    padding: 1em;

    &:hover {
      background-color: #a57426;
    }
  }

  @media (max-width: 1100px) {
    &__call {
      width: 13%;
    }
  }

  @media (max-width: 950px) {
    &__call {
      display: none;
    }
    nav {
      width: 55%;
      margin-right: auto;
    }
  }

  @media (max-width: 760px) {
    & {
      justify-content: space-around;
    }
    nav {
      display: none;
    }
    &__contact {
      width: auto;
      color: #fff;
      text-decoration: none;
    }
    &__logo {
      width: auto;
    }
  }
}

.instagram {
  background: #131313;
  width: 82px;

  text-align: center;
  padding-top: 201px;

  &__container {
    display: flex;
    transform: rotate(90deg);
    position: relative;
  }

  &__link {
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #e3b873;
    text-transform: uppercase;
  }

  &__line {
    border: 1px solid #e3b873;
    width: 51px;
    position: absolute;
    left: 100px;
    top: 6px;
  }

  @media (max-width: 700px) {
    & {
      display: none;
    }
  }
}

.preview {
  background-color: rgba(19, 19, 19, 1);
  display: flex;
  position: relative;

  &__image-block {
    background: url(/assets/images/preview_bg.png) no-repeat;
    flex: 1;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 1;
    }
  }

  &__text-container {
    max-width: 500px;
    padding: 160px 50px 187px 50px;
    position: relative;
    z-index: 2;
  }

  &__title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;

    color: #ffffff;
  }
  &__title_colored {
    color: #e3b873;
  }

  &__text {
    padding-top: 19px;
    max-width: 440px;
    font-family: FuturaBookC;
    font-size: 22px;
    line-height: 30px;

    color: #ffffff;
  }

  &__scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    transform: translate(0, 50%);
    padding: 35px 50px;
    background: #131313;
    font-family: Yeseva One;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      margin-left: 10px;
    }

    &:hover {
      img {
        animation: ball 0.5s linear alternate infinite;
      }
    }
  }

  @media (max-width: 800px) {
    &__text-container {
      max-width: initial;
    }

    &__scroll {
      display: none;
    }
  }

  @media (max-width: 650px) {
    &__text-container {
      padding-bottom: 50px;
    }
  }
}

.preview-btns {
  display: flex;
  margin-top: 41px;
  padding-right: 40px;

  &__item {
    border: none;
    border-radius: 2px;
    color: #ffffff;
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 15px;
    padding: 20px;
    flex: 1;

    &:hover {
      box-shadow: 0 0 15px 3px rgba(225, 225, 225, 0.5);
    }

    &_calculate {
      background: #e3b873;
      box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    }

    &_submit {
      margin-left: 20px;
      background: none;
      border: 1px solid #ffffff;
    }
  }

  @media (max-width: 650px) {
    & {
      flex-direction: column;
      padding-right: 0;
    }

    &__item_submit {
      margin-left: 0;
      margin-top: 26px;
    }
  }
}

.slider {
  margin-top: 107px;
  display: flex;
  overflow: hidden;
  position: relative;
  margin-left: 100px;

  &-description {
    margin-right: 50px;
    min-width: 440px;
    padding-top: 45px;

    &__title {
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 27px;
      line-height: 37px;
      letter-spacing: -0.07em;
      text-transform: uppercase;
      color: #e3b873;
      margin-right: 100px;
    }

    &__text {
      font-family: FuturaBookC;
      font-size: 18px;
      line-height: 29px;
      color: #ffffff;
    }

    &__table {
      margin-top: 42px;

      td {
        padding-top: 55px;
        padding-right: 30px;
      }
    }

    .criterion {
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;
      color: #e3b873;

      &__description {
        font-family: FuturaBookC;
        font-size: 15px;
        line-height: 20px;
        padding-top: 9px;
        color: #ffffff;
      }
    }
  }
  &__switcher {
    display: flex;
    align-items: center;
    margin-top: 90px;
    &-item {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 30px;
      width: 10px;
      height: 10px;
      margin: 2px 10px;
      cursor: pointer;
      &_selected {
        background: #ffffff;
      }
      &:hover {
        background: #e3b873;
      }
    }
    &-arrow {
      background: url(/assets/images/arrow-long.svg) no-repeat;
      background-size: contain;
      background-position: center;
      width: 40px;
      height: 15px;
      margin-left: 30px;
      cursor: pointer;
      &_prev {
        transform: rotate(180deg);
        margin-right: 30px;
        margin-left: 0;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
  &-navbar {
    display: flex;
    height: 45px;

    &__item a {
      padding-left: 60px;
      text-decoration: none;
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;

      color: rgba(255, 255, 255, 0.3);
    }

    &__item_selected a {
      padding-left: 0;
      color: #e3b873;
      text-decoration: underline;
    }
  }

  &__images {
    display: flex;

    img {
      margin-right: 20px;
    }

    &_mobile {
      display: none;
    }
  }

  &__next-image {
    position: absolute;
    width: 55px;
    height: 55px;
    background: #e3b873 url(/assets/images/arrow-next.svg) no-repeat;
    background-position: center;
    box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
    border-radius: 50%;
    border: none;
    right: 3px;
    top: 50%;
    margin-top: 27.5px - 45px;

    &:hover {
      box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.5);
    }
  }

  &__prev-image {
    position: absolute;
    width: 55px;
    height: 55px;
    background: #e3b873 url(/assets/images/arrow-next.svg) no-repeat;
    background-position: center;
    box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
    border-radius: 50%;
    border: none;
    left: 3px;
    top: 50%;
    margin-top: 27.5px - 45px;
    transform: rotate(180deg);

    &:hover {
      box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.5);
    }
  }

  @media (max-width: 1150px) {
    & {
      margin-left: 30px;
    }
    &-description {
      margin-right: 20px;
      min-width: 400px;
    }
    &__content {
      padding-top: 45px;
    }
    &-navbar {
      display: none;
    }
  }

  @media (max-width: 900px) {
    & {
      margin: 0;
      padding: 0 50px;
      text-align: center;
    }

    &-description {
      margin-right: 0;
      &__title {
        margin: 0;
        margin-bottom: 20px;

        &-line {
          display: none;
        }
      }

      &__table {
        width: 100%;

        td {
          padding-top: 30px;
          text-align: left;
        }
      }
    }

    &__switcher {
      display: none;
    }

    &__images {
      display: none;
      overflow: hidden;
      margin-top: 35px;

      &_mobile {
        display: flex;
      }

      div {
        width: 100%;
        flex: 0 0 100%;
      }

      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        margin: 0;
      }
    }

    &__next-image {
      right: 63px;
    }

    &__prev-image {
      left: 63px;
    }
  }

  @media (max-width: 550px) {
    &__next-image {
      margin-top: 0;
    }

    &__prev-image {
      margin-top: 0;
    }
  }
}
.subtitle {
  &_topped {
    position: relative;
    top: -240px;
    margin-bottom: -140px;
  }

  &_increased {
    padding-bottom: 145px;
  }

  &_design {
    margin-top: -450px;
  }

  &__name {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;

    &_black {
      color: #181818;
    }
  }
  &__icon {
    padding-top: 15px;
    text-align: center;
  }
  &__video {
    margin: 0 auto;
    width: 800px;

    margin-top: 30px;
  }
  video {
    width: 100%;
  }
  &__line {
    background: #e3b873;
    width: 55px;
    height: 1px;
    margin: 0 auto;
  }
  &__text {
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    width: 50%;

    color: #363636;
    padding-bottom: 39px;

    &_white {
      line-height: 27px;
      color: #ffffff;
    }
  }
  @media (max-width: 900px) {
    &__video {
      width: 90%;
    }
    &__line {
      margin-top: 20px;
    }
    &_topped {
      margin-bottom: -220px;
    }
    &_design {
      margin-top: 200px;

      .subtitle__name,
      .subtitle__text {
        color: #fff;
      }
    }
  }

  @media (max-width: 700px) {
    &__text {
      width: 80%;
    }
    &_mobile-none {
      display: none;
    }
    &__text_white-mobile {
      color: #fff;
      font-family: FuturaBookC;
      font-size: 14px;
      line-height: 169.8%;
      padding-bottom: 0;
    }
  }

  @media (max-width: 700px) {
    &_design {
      margin-top: -100px;
    }
  }

  @media (max-width: 550px) {
    &_design {
      margin-top: -200px;
    }
  }
}
.form {
  margin-bottom: 150px;
  &__description {
    margin: 0 auto;
    &-inputs {
      width: 60%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: FuturaBookC;
      font-size: 18px;
      line-height: 24px;
      color: #363636;

      label {
        display: block;
        font-family: FuturaBookC;
        font-size: 15px;
        line-height: 20px;

        color: rgba(54, 54, 54, 0.5);
      }

      input {
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(54, 54, 54, 0.3);
        &::placeholder {
          font-family: FuturaBookC;
          font-size: 18px;
          line-height: 24px;

          color: #363636;
        }
      }

      button {
        font-family: FuturaDemiC;
        font-size: 15px;
        line-height: 26px;

        text-align: center;
        text-transform: uppercase;

        color: #ffffff;
        background: #e3b873;
        box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
        border-radius: 2px;
        border: none;
        padding: 20px 70px;

        position: relative;
        z-index: 2;
      }
    }
    &-item {
      margin: 0 25px;
      flex: 1;
    }
  }
  &__description-agree {
    padding-top: 35px;
    text-align: center;
    label {
      font-family: FuturaBookC;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #181818;
      display: inline-block;
    }
    &_mobile {
      display: none;
    }
  }
  &__checkbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #e3b873 url(/assets/images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1px;
    vertical-align: middle;
    margin-top: -3px;
  }

  @media (max-width: 1100px) {
    &__description-inputs {
      width: 80%;
    }
  }
  @media (max-width: 800px) {
    & {
      margin-bottom: 60px;
    }
    &__description-inputs {
      flex-direction: column;
      align-items: initial;

      button {
        width: 100%;
      }
    }
    &__description-item {
      padding-top: 30px;
    }
    &__description-agree {
      display: none;
      &_mobile {
        display: block;
        text-align: left;
        margin: 0 25px;
      }
    }
  }

  @media (max-width: 700px) {
    & {
      margin-bottom: -30px;
    }
    &__description-inputs {
      input {
        border-bottom: 1px solid #fff;
        background: transparent;
        &::placeholder {
          line-height: 25px;
          color: #fff;
        }
      }
      label {
        color: rgba(255, 255, 255, 0.5);
      }
    }
    &__description-agree {
      label {
        color: #fff;
      }
    }
  }

  @media (max-width: 550px) {
    &__description-inputs {
      width: 100%;
    }
  }
}
.cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;

  &_topped {
    margin-top: 0;
  }

  &_over {
    position: relative;
    top: -245px;
    margin-bottom: -215px;
    padding: 30px;
  }

  &__item {
    margin: 0 30px;
    flex: 1;
  }

  &__image {
    img {
      object-fit: cover;
      width: 100%;
    }
  }

  &__list-block {
    padding: 25px 31px 45px;
    background: #ffffff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    position: relative;
    margin: -125px 30px 0;

    button {
      position: absolute;
      left: 0;
      bottom: -27px;
      width: 228px;
      height: 54px;
      border: none;
      background: #e3b873;
      box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;

      color: #ffffff;

      &:hover {
        background: #a57426;
      }
    }

    &_team {
      margin: -77px 20px 0;

      button {
        width: auto;
      }
    }
  }
  &__title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    color: #363636;
  }
  &__list {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 25px;

    color: #959595;

    li {
      position: relative;
      padding-left: 10px;
    }

    li:before {
      content: "";
      width: 4px;
      height: 4px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -2px;
      background-color: #959595;
      border-radius: 50%;
    }
  }

  &__icon {
    background-color: #e3b873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, 50%);
  }

  @media (max-width: 1250px) {
    &_over {
      .cols__item {
        margin: 0 30px;
        margin-bottom: 50px;
      }
    }
    &__item {
      margin: 0 20px;
    }
  }

  @media (max-width: 1150px) {
    &__item {
      margin: 0 10px;
    }

    &__list-block {
      padding: 25px 20px 45px;
      margin: -125px 20px 0;
    }
  }

  @media (max-width: 900px) {
    &_topped {
      margin-top: 0;
    }
  }

  @media (max-width: 850px) {
    & {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &__item {
      width: 40%;
      flex: none;
      margin: 0 20px 54px;
    }
  }

  @media (max-width: 650px) {
    & {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item {
      width: 90%;
    }

    &__list-block {
      margin: -125px 100px 0 0;
    }
  }
}

.procedure {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  margin-top: 180px;
  margin-bottom: 100px;

  .circle {
    height: 600px;
    width: 600px;
    background-image: url(/assets/images/circle-house.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;

    &__border {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid #e3b873;
      border-radius: 50%;
      left: -200px;
    }

    &__stage {
      position: absolute;
      display: flex;
      align-items: center;

      &-num {
        min-width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #e3b873;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);

        font-family: Yeseva One;
        font-size: 18px;
        line-height: 40px;
        text-align: center;

        color: #ffffff;
        cursor: pointer;
        margin-right: 10px;

        transition: color 0.3s;

        &:hover {
          color: #000;
        }
      }

      &_first {
        left: 303px;
        top: 71px;
      }
      &_second {
        left: 367px;
        top: 194px;
      }
      &_third {
        left: 376px;
        top: 344px;
      }
      &_fourth {
        left: 318px;
        top: 467px;
      }
    }
  }

  .request-form {
    background: url(/assets/images/question-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #131313;
    width: 510px;
    margin-right: 100px;

    &__item {
      margin-bottom: 48px;
    }

    &__title {
      padding: 28px 105px 0;
      font-family: FuturaDemiC;
      font-size: 20px;
      line-height: 25px;
      text-align: center;

      color: #ffffff;
    }
    &__inputs {
      padding: 39px 50px 0;
    }

    &__call {
      text-align: right;
    }

    input {
      width: 100%;
      background: transparent;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      color: #fff;
      &::placeholder {
        font-family: FuturaMediumC;
        font-size: 18px;
        line-height: 25px;
        color: #ffffff;
      }
    }

    label {
      display: block;
      font-family: FuturaBookC;
      font-size: 15px;
      line-height: 20px;

      color: rgba(255, 255, 255, 0.5);
    }
    .form__checkbox {
      display: inline-block;
      width: 18px;
      height: 18px;
      background: #e3b873 url(/assets/images/check.svg);
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 1px;
    }
  }

  button {
    border: none;
    padding: 19px 22px;

    background: #e3b873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    margin-bottom: 27px;
  }

  @media (max-width: 1350px) {
    & {
      padding-left: 50px;
    }

    .request-form {
      margin-right: 50px;
    }
  }

  @media (max-width: 1200px) {
    & {
      padding-left: 0px;
    }

    .circle__border {
      left: -250px;
    }
    .circle__stage_first {
      left: 253px;
    }
    .circle__stage_second {
      left: 317px;
    }
    .circle__stage_third {
      left: 326px;
    }
    .circle__stage_fourth {
      left: 268px;
    }

    .procedure__request {
      flex: 1;
    }

    .request-form {
      margin-right: 20px;
      width: auto;
      // min-width: 450px;
    }
  }

  @media (max-width: 1050px) {
    & {
      margin-left: -50px;
    }
  }

  @media (max-width: 1000px) {
    & {
      margin-left: -100px;
    }
  }

  @media (max-width: 900px) {
    & {
      display: none;
    }
  }
}

.gallery {
  background: url(/assets/images/gallery_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin-bottom: 115px;

  position: relative;
  z-index: 0;
  &__description {
    padding: 137px 77px 0 99px;
    flex: 1;
  }
  &__title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #e3b873;
  }
  &__list li {
    padding-top: 20px;
    font-family: Proxima Nova;
    font-size: 20px;
    line-height: 34px;
    cursor: pointer;
    color: #ffffff;
    &:first-child {
      padding-top: 47px;
      color: #e3b873;
      text-decoration: underline;
    }

    &:hover {
      text-decoration: underline;
    }
  }
  &__images-col {
    width: 350px;
  }
  &__images-col_1 {
    margin: -40px 50px -80px 0;
    img {
      margin-bottom: 40px;
    }
  }
  &__images-col_2 {
    margin-top: -113px;
    margin-right: 100px;
    img {
      margin-bottom: 36px;
    }
  }
  &:before {
    background: linear-gradient(
      120.96deg,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0.9) 100%
    );
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  &-mobile {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 40px;

    &__title {
      font-family: Yeseva One;
      font-size: 22px;
      line-height: 138.6%;
      text-align: center;
      text-transform: uppercase;
      color: #e3b873;
    }

    .slider__images {
      position: relative;
      margin: 20px 40px;

      img {
        max-height: 400px;
      }
    }

    .slider__prev-image {
      left: 20px;
      margin-top: -17.5px;
    }

    .slider__next-image {
      right: 20px;
      margin-top: -17.5px;
    }
  }

  @media (max-width: 1250px) {
    &__description {
      padding: 100px 10px 0 30px;
    }
    &__images-col {
      overflow: hidden;
      width: 300px;
    }
    &__images-col_1 {
      margin-right: 30px;
    }
    &__images-col_2 {
      margin-right: 50px;
    }
  }
  @media (max-width: 900px) {
    & {
      display: none;
    }
    &-mobile {
      display: block;
    }
  }
  @media (max-width: 600px) {
    &-mobile .slider__images img {
      max-height: 300px;
    }
  }
}

.steps {
  display: flex;
  margin: 80px 0;
  padding-left: 50px;
  &__info {
    flex: 1;
  }

  h3 {
    font-family: FuturaDemiC;
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;

    color: #ffffff;
  }

  &__main-title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;

    color: #e3b873;

    margin: 20px 0 90px;
  }
  &__chapter {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;

    color: #ffffff;
  }

  &__title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;

    color: #e3b873;

    margin: 20px 0 15px;
  }
  &__description {
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 25px;

    color: #ffffff;
  }

  &__switcher {
    display: flex;
    align-items: center;
    margin-top: 90px;
    &-item {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 30px;
      width: 10px;
      height: 10px;
      margin: 2px 10px;
      cursor: pointer;
      &_selected {
        background: #ffffff;
      }

      &:hover {
        background: #e3b873;
      }
    }
    &-arrow {
      background: url(/assets/images/arrow-long.svg) no-repeat;
      background-size: contain;
      background-position: center;
      width: 40px;
      height: 15px;
      margin-left: 30px;
      cursor: pointer;
      &_prev {
        transform: rotate(180deg);
        margin-right: 30px;
        margin-left: 0;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__list-wrapper {
    margin-left: 100px;
    flex: 2;
  }

  &-list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px 80px;

    &__item {
      font-family: FuturaBookC;
      font-size: 15px;
      line-height: 18px;
      cursor: pointer;
      color: #ffffff;
      opacity: 0.3;

      &_selected {
        opacity: 1;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }

    &__number {
      display: inline-block;
      border-bottom: 1px solid #e3b873;
      margin-bottom: 10px;
    }
  }

  &__image {
    margin-top: 50px;
    img {
      width: 100%;
    }
  }

  @media (max-width: 1250px) {
    &__list-wrapper {
      margin-left: 50px;
    }
    &-list {
      grid-gap: 40px 40px;
    }
  }
  @media (max-width: 1050px) {
    &-list {
      grid-gap: 40px 20px;
    }
  }
  @media (max-width: 850px) {
    & {
      padding-left: 20px;
    }
    &__main-title {
      margin-bottom: 40px;
    }
    &__switcher {
      display: none;
    }
  }
  @media (max-width: 700px) {
    & {
      display: none;
    }
  }
}
.clients {
  .cols__item {
    background: #ffffff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  }
  &__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 79px;
  }
  &__photo {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    padding: 24px 23px 22px 20px;
  }
  &__name {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    color: #181818;
  }
  &__review {
    padding-left: 20px;
    padding-right: 30px;
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 180%;

    color: #959595;
  }
  &__values {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 82px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;

    color: #ffffff;
    margin-top: 60px;
    img {
      margin: 15px;
    }
  }
  &__value-square {
    display: flex;
    align-items: center;
    background: #e3b873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    border-right: 1px solid #ffffff;
    flex: 1;
    cursor: pointer;

    &:hover {
      background-color: #a57426;
    }
  }
  &__value-time {
    display: flex;
    align-items: center;
    background: #e3b873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    flex: 1;
    cursor: pointer;

    &:hover {
      background-color: #a57426;
    }
  }
  @media (max-width: 700px) {
    & {
      display: none;
    }
  }
}

.bottom-bg {
  background: url(/assets/images/bottom-bg.png) #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 65px;

  @media (max-width: 700px) {
    & {
      background: rgba(19, 19, 19, 1);
    }
  }
}

.question {
  background: url(/assets/images/question-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #181818;
  width: 55%;
  margin: 0 auto;
  padding: 35px 150px;
  text-align: center;
  position: relative;
  top: -100px;
  margin-bottom: -100px;

  &__title {
    font-family: Yeseva One;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    text-align: left;
    flex: 1;
    margin: 50px 30px 0;

    &_checkbox {
      text-align: center;
      margin-bottom: 50px;
    }
  }

  input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    color: #fff;
    &::placeholder {
      font-family: FuturaMediumC;
      font-size: 18px;
      line-height: 25px;
      color: #ffffff;
    }
  }

  label {
    display: block;
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 20px;

    color: rgba(255, 255, 255, 0.5);
  }
  .form__checkbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #e3b873 url(/assets/images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1px;
  }

  button {
    border: none;
    padding: 20px 50px;

    background: #e3b873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
  }
  @media (max-width: 800px) {
    & {
      width: 100%;

      padding: 35px 0;
      button {
        width: 93%;
      }
    }
    &__items {
      flex-direction: column;
    }
    &__item_checkbox {
      text-align: left;
    }
  }

  @media (max-width: 700px) {
    & {
      background: rgba(19, 19, 19, 1);
      top: -250px;
      margin-bottom: -250px;
    }
  }
}

.social {
  width: 25%;
  margin: 50px auto;

  &__phone {
    font-family: Yeseva One;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

    color: #e3b873;
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  &__icon {
    background-color: #e3b873;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin: 0 7px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    &:hover {
      background-color: #a57426;
    }
  }
  @media (max-width: 1100px) {
    & {
      width: 50%;
    }
  }
}

.map {
  width: 60%;
  padding-top: 30%;
  background: url(/assets/images/map.png);
  background-size: cover;
  margin: 0 auto;
  &_mobile {
    display: none;
  }
  @media (max-width: 800px) {
    & {
      display: none;
    }
    &_mobile {
      display: block;
      margin: 50px auto;
    }
  }
}

.footer {
  height: 130px;
  @media (max-width: 800px) {
    & {
      display: none;
    }
  }
}

@keyframes ball {
  from {
    transform: translate(0, -10px);
  }

  to {
    transform: translate(0, 10px);
  }
}
